body {
    font-family: Arial, sans-serif;
    text-align: center;

}

h1 {
    margin-top: 50px;
    color: black;
}

.input-container {
    display: flex; /* Используем Flexbox */
    margin-top: 170px;
    justify-content: center;
    gap: 30px;
    height: 13vh;
}


/*button {*/
/*    padding: 10px 20px;*/
/*    background-color: white;*/
/*    color: black;*/
/*    cursor: pointer;*/
/*}*/

button {
    padding: 10px 20px;
    background-color: #0074D9;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 150px;
}

input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 300px;
}
